@import "tailwindcss";
@config "../tailwind.config.js";
html{
    scroll-behavior: smooth;
}
body {
    @apply bg-green-950 text-white font-jost tracking-tighter;
}
.nav-link {
    @apply text-lg font-bold duration-300
}
.nav-link:hover {
    @apply text-yellow-500;
}
section {
    @apply py-20 md:py-28;
}
h1 {
    @apply text-3xl  md:text-4xl xl:text-5xl font-bold;
}
h2{
    @apply text-2xl md:text-3xl xl:text-4xl ;
}
h3{
    @apply text-xl md:text-2xl xl:text-3xl ;
}
.btn {
  @apply border border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300;
}

.btn span {
  @apply font-bold;
}
.title{
    @apply font-Lobster text-yellow-500;
}
.btn:hover {
  @apply opacity-90;
}

.btn_outline {
  @apply bg-transparent;
}
.btn_outline:hover {
  @apply bg-yellow-500;
}


.popular_card:hover img {
  @apply -top-8;
}
.swiper-pagination-bullet {
 background-color: #4ade80 !important;
   width: 8px !important;
  height: 8px !important;
}

